*,
*::before,
*::after {
    box-sizing: border-box; 
    /* Ensures that padding and borders are included in the total width and height  */
}



:root {
    --ff-primary: 'Source Sand Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0.15);
}

@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
    /* adjust the font sizes when the minimum width of the screen is 800px */
}

    /* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;


}

section{
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold); }

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
} 

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__subtitle--intro{
    font-weight: var(--fw-reg)
}

.section__title--intro  strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--me {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* header */
nav{display:none;}


/* Intro section */

.intro{
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content; 
        /* makes width as compact as possible */
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        /* places image above subtitle */

    }    

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1 / 1 ; 
        /* spans from last grid line to first grid line */
        grid-row: 2;
        text-align: right;
        position: relative; 
        left: -1.5em;
        width: calc(100% + 1.5em); 
        /* makes the width of the bar extend to be inline with the title */
    }

}

.my-journey {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.4)) , url(/files/Images/blueCITY.jpg);
    background-color: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section__title--journey{
    color: var(--clr-accent);
    position: relative;
}

.section__title--journey::after{
    /* My journey underline */
    content: '';
    display: block;
    width: 3em;
    height: 0.01em;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.3;
}

@media (min-width: 800px){
    .journey {
        display: flex;
        max-width: 1000px;
        margin: 1em auto;
    }
}